# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore dependencies
**/node_modules/

# IDE and editor config
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
